<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/font-awesome/fontawesome-fonts.css') }}" type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/font-awesome/fontawesome-all.min.css') }}" type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/font.css') }}"  type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jumbotron.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sticky-footer.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
	<main role="main">
		{% block content %}
		{% endblock %}
	</main>
	{% block scripts %}
	{% endblock %}
</body>
</html>
